<header class="page-header">
  <div class="row">
    <div class="col">
      <h1 class="page-title">News categories</h1>
    </div>
    <div class="col text-right">
      <button (click)="addNewCategory()" type="button" mat-raised-button color="primary">Add new</button>
    </div>
  </div>
</header>


<div class="bg-white" *ngIf="categoryList && categoryList.length > 0">


  <table class="table-default">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Category Slug</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let cat of categoryList">
        <tr>
          <td>{{cat.categoryName}}</td>
          <td>{{cat.categorySlug}}</td>
          <td>
            <button color="primary" mat-button (click)="editCategory(cat)">Edit</button>
            <button color="warn" (click)="deleteCategory(cat.categoryId)" type="button" mat-button>Delete</button>
          </td>
        </tr>
        <ng-container *ngIf="cat.subCategory && cat.subCategory.length">
          <tr *ngFor="let subCat of cat.subCategory">
            <td> -- {{subCat.categoryName}}</td>
            <td>{{subCat.categorySlug}}</td>
            <td>
              <button color="primary" mat-button (click)="editCategory(subCat, cat)">Edit</button>
              <button color="warn" (click)="deleteCategory(cat.categoryId, subCat.categoryId)" type="button" mat-button>Delete</button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>


</div>