.footer-wrapper {
  padding: 20px 0;
  color: white;
  margin-top: 20px;

  a {
    color: #949494;
    font-weight: 200;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
