<header class="page-header">
  <div class="row">
    <div class="col">
      <h1 *ngIf="!postId" class="page-title">Add new post</h1>
      <h1 *ngIf="postId" class="page-title">Edit post</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <a [routerLink]="['/post/all-news']" mat-raised-button color="primary">All posts</a>
      </div>
    </div>
  </div>
</header>

<form [formGroup]="newsForm" (ngSubmit)="onSubmit()">

  <!-- hidden fields start-->
  <input type="hidden" formControlName="postId">
  <input type="hidden" formControlName="scheduledDate">


  <!-- hidden fields end -->
  <section class="row">
    <div class="col-8 admin-content">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>* indicated that fields are required</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="margin-tb-10">
          <mat-form-field class="margin-tb-10">
            <input formControlName="title" type="text" placeholder="News title *" matInput />
            <mat-error *ngIf="newsForm.get('title').invalid">
              Title is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="margin-tb-10">
            <input formControlName="slug" type="text" placeholder="Slug" matInput />
            <mat-error *ngIf="newsForm.get('slug').invalid">
              Slug Should be Alpha Numeric
            </mat-error>
          </mat-form-field>

          <!-- <mat-form-field>
            <textarea formControlName="content" rows="10" placeholder="News content" matInput></textarea>
          </mat-form-field> -->

          <div class="margin-tb-10">
            <ckeditor formControlName="content" [editor]="Editor"></ckeditor>
            <!-- <mat-error *ngIf="newsForm.get('content').invalid">
              Content is required
            </mat-error> -->
          </div>

          <mat-form-field class="margin-tb-10">
            <mat-label>Author</mat-label>
            <mat-select formControlName="authorId">
              <mat-option *ngFor="let al of authorList" value="{{al.authorId}}">{{al.authorName}}</mat-option>

              <!-- <mat-option value=7>aakash goel</mat-option>
              <mat-option selected value="1">vipul singh</mat-option>
              <mat-option value=2>Gyan Parkash</mat-option>
              <mat-option value=94>sunil</mat-option> -->
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>SEO options</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="margin-tb-10">
            <input type="url" formControlName="canonicalUrl" placeholder="Canonical URL" matInput />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4 admin-sidebar">
      <!-- publish status -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Post Status
          </mat-panel-title>
        </mat-expansion-panel-header>

        <section>
          <mat-form-field>
            <mat-select formControlName="status">
              <mat-option selected value="draft">Draft</mat-option>
              <mat-option value="published">Published</mat-option>
              <mat-option value="scheduled">Scheduled</mat-option>
            </mat-select>
          </mat-form-field>
        </section>

        <section [hidden]="newsForm.get('status').value!='scheduled'">
          <div style="display: flex">
            <div style="width: 50%">
              <mat-form-field>
                <input formControlName="sDate" [min]="todayDate" matInput [matDatepicker]="picker"
                  placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div style="width: 50%">
              <mat-form-field>
                <mat-select formControlName="sTime" placeholder="Choose a time">
                  <mat-option *ngFor="let t of time ;let i=index" [attr.selected]="i==0 ? true : null" value="{{t}}">
                    {{t}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </section>


        <div class="flex ">
          <!-- <button type="button" mat-raised-button color="light">Save draft</button> -->
          <button type="submit" mat-raised-button color="primary">Save</button>
        </div>
      </mat-expansion-panel>

      <!-- post type -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Post Type
          </mat-panel-title>
        </mat-expansion-panel-header>

        <section>
          <mat-form-field>
            <mat-select formControlName="postType">
              <mat-option selected value="post">Post</mat-option>
              <mat-option value="page">Page</mat-option>
            </mat-select>
          </mat-form-field>
        </section>

      </mat-expansion-panel>

      <!-- categories -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Categories
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <section class="max-h-200">
            <div *ngFor="let catg of categoriesList; let i = index">
              <mat-checkbox [checked]="catg.isSelected" (change)="setCategory($event, catg)" color="primary">
                {{catg.categoryName}}
              </mat-checkbox>
            </div>
          </section>
          <div>
            <br>
            <button mat-raised-button color="light" (click)="addNewCategory()" type="button">Add new</button>
          </div>
        </div>
        <mat-error *ngIf="newsForm.get('categoryList').invalid">
          category is required
        </mat-error>
      </mat-expansion-panel>

      <!-- tags -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tags
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-chip-list #newsTag>
            <mat-chip *ngFor="let tag of newsForm.get('tags').value" [selectable]="tagControlProp.selectable"
              [removable]="tagControlProp.removable" (removed)="removeTag(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="tagControlProp.removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New tag..." [matChipInputFor]="newsTag"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="tagControlProp.addOnBlur"
              (matChipInputTokenEnd)="addTag($event)">
          </mat-chip-list>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- fetured image -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Featured image
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div class="featured-image">
            <img [src]="thumbnailUrl ? thumbnailUrl : 'assets/images/bg-img/no_image_found.png'" alt="">
          </div>
          <div>
            <button mat-raised-button color="primary" type="button">
              <label class="btn-label" for="thumbImg">
                Change
                <input accept="image/*" id="thumbImg" [hidden]="true" type="file" (change)="coverImageChange($event)" />
              </label>
            </button> &nbsp;
            <button type="button" mat-raised-button color="primary">Set featured image</button>
          </div>
        </div>
      </mat-expansion-panel>

    </div>
  </section>

</form>
