<mat-toolbar class="mb-3" color="primary">
  <mat-toolbar-row>
    <span>khulasa News</span>
    <span class="toolbar-saparater"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <span class="text-uppercase">
        {{loggedInUser?.firstName + ' ' + (loggedInUser?.lastName ? loggedInUser.lastName : '')}}
      </span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['user-account/update-profile']" mat-menu-item>Profile</a>
      <button (click)="logOut()" mat-menu-item>Logout</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
