<mat-progress-bar class="login-pb" [mode]="'query'" *ngIf="showLoader">
</mat-progress-bar>


<header class="page-header">
  <div class="row">
    <div class="col">
      <h1 *ngIf="!menuId" class="page-title">Add new Menu</h1>
      <h1 *ngIf="menuId" class="page-title">Edit Menu</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <a [routerLink]="['/menu/all-menu']" mat-raised-button color="primary">All Menu</a>
      </div>
    </div>
  </div>
</header>




<div class="row">
  <div class="col-md-4 ">

    <mat-accordion>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Categories
          </mat-panel-title>

        </mat-expansion-panel-header>

        <div *ngFor="let catg of categoryList; let i = index">
          <mat-checkbox [checked]="catg.isSelected" (change)="setCategory($event, catg)" color="primary">
            {{catg.categoryName}}
          </mat-checkbox>
        </div>
        <div class="text-right mt-4 mb-2">
          <button mat-raised-button>Add to Menu</button>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Post
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div *ngFor="let post of postList; let i = index">
          <mat-checkbox (change)="setPost($event, post)" color="primary">
            {{post.title}}
          </mat-checkbox>
        </div>
        <div class="text-right mt-4 mb-2">
          <button mat-raised-button>Add to Menu</button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Custom Links
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="URL">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Link Text">
        </mat-form-field>
        <div class="text-right mt-4 mb-2">
          <button mat-raised-button>Add to Menu</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
  <div class="col-md-9 ">

  </div>
</div>
