<h1 mat-dialog-title>{{modalTitle}}</h1>
<form [formGroup]="categoryFormGroup" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field [hidden]="!isNew">
            <mat-select formControlName="parentCategory" placeholder="Parent Category">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let cat of data.categoryList" [value]="cat.categoryId">{{cat.categoryName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="categoryName" type="text" placeholder="Category name" matInput />
            <mat-error>
                <div
                    *ngIf="categoryFormGroup.get('categoryName').invalid && (categoryFormGroup.get('categoryName').touched || categoryFormGroup.get('categoryName').dirty)">
                    <div *ngIf="categoryFormGroup.get('categoryName').errors.required">Category Name is required</div>
                </div>
            </mat-error>
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button [disabled]="!categoryFormGroup.valid" mat-button type="submit">Submit</button>
        <button (click)="close()" mat-button type="button">Cancel</button>
    </div>
</form>